<input
    #input
    type="text"
    (keyup.arrowdown)="down()"
    (keyup.arrowup)="up()"
    [className]="'autocomlete-input'"
/>
<ul #list class="autocomlete-options" *ngIf="!(githubers$ | async)?.error">
    <li
        class="autocomlete-item"
        *ngFor="
            let githuber of (githubers$ | async)?.items;
            trackBy: trackByLogin
        "
    >
        <span>{{ githuber.login }}</span>
        <span>{{ githuber.publicReposQuantity }}</span>
    </li>
</ul>
<div *ngIf="(githubers$ | async)?.error">
    {{ (githubers$ | async)?.errorMessage }}
</div>
